Import required libraries

In [2]:
import pandas as pd
import numpy as np

Load data

In [4]:
fake=pd.read_csv("datasets/Fake and Real News/Fake.csv",nrows=500)
true=pd.read_csv("datasets/Fake and Real News/True.csv",nrows=500)

Peak the datasets

In [10]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [11]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [13]:
fake.columns, true.columns

(Index(['title', 'text', 'subject', 'date'], dtype='object'),
 Index(['title', 'text', 'subject', 'date'], dtype='object'))

Create a target column in the dataset

In [14]:
fake['target']='fake'
true['target']='true'

In [15]:
fake.columns, true.columns

(Index(['title', 'text', 'subject', 'date', 'target'], dtype='object'),
 Index(['title', 'text', 'subject', 'date', 'target'], dtype='object'))

Union the two datasets

In [18]:
df=pd.concat([fake,true]).reset_index(drop=True)

Inspect data

In [19]:
df.shape

(1000, 5)

In [20]:
df.columns

Index(['title', 'text', 'subject', 'date', 'target'], dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
title      1000 non-null object
text       1000 non-null object
subject    1000 non-null object
date       1000 non-null object
target     1000 non-null object
dtypes: object(5)
memory usage: 39.1+ KB